#head{
    padding: 4rem;
    padding-left: 5rem;
    margin-top: 4rem;
    font-size: 4rem;
    padding-bottom: 0;
    font-weight: 600;
    color: white;
}
#abtContent{
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding:4rem;
    color: white;
}
.abtCard{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    gap: 2rem;
}
.abtText{
    font-size: 1.5rem;
    max-width: 50%;
}
.abtText span{
    color: var(--themeColor);
    font-weight: 700;
    font-size: 1.5rem;
}

@media screen and (max-width:900px) {
    #abtCont{
        padding-inline: 2rem;
        line-height: 2.2;
    }
    .abtCard{
        flex-direction: column-reverse;
    
    }
    .abtText{
        max-width: unset;
        text-align: center;
        font-size: 1.8rem;
    }
    .newtext{
        max-width: unset;
        text-align: center;
    }
    #adj{
        flex-direction: column;
    }
    .img{
        width: 90%;
    
        height: auto;
    }
    .abtImage{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .newtext span{
        color: var(--themeColor);
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 0.8;
    }
}
#abtCont{
    line-height: 2;
    padding: 1rem 4rem 2rem;
    color: white;
}
.newtext span{
    color: var(--themeColor);
    font-weight: 700;
    font-size: 2.5rem
}
